:root{
	--body_background: #0affa1;
	--item_colour1: #ffd900;
	--item_colour1_shadow: #997706;
}

body {
	background-color: var(--body_background);
	font-family: 'Lato', 'Noto Sans JP', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	color: #535353;
	display: grid;
	grid-template-columns: 90% auto;
	padding: 1em;
}

main {
	background-color: white;
	display:block;
	padding: 1em;
	border-radius: 6px;
}

h1 {
	font-family: "Nico Moji";
	font-size: 4em;
	display: block;
	background-color:  var(--item_colour1);
	box-shadow: 2px 6px var(--item_colour1_shadow);
	color: white;
	border-radius: 6px;
	padding: 0em 0.5em;
}

p {
	font-size: 1.5em;
	padding: 0em 0.5em;
}

button, input, select, textarea
{
	font-size: 1.5em;
	font-family: inherit;
}

input {
	border: 2px solid var(--item_colour1);
	box-shadow: 2px 6px var(--item_colour1_shadow);
	border-radius: 0.3em;
	box-shadow: none;
}

button {
  border-radius:3px;
  border: none;
  text-align:center;
  text-decoration:none;
  box-shadow: 1.5px 6px var(--item_colour1_shadow);
  background: var(--item_colour1);
  color: #fff;
  padding: 0.1em;
}

#error {
	color: red;
	font-size: 2em;
}

#ryakugo {
	margin-top: 0;
	font-size: 4em;
}

.inputLine {
	display: inline-grid;
	grid-template-columns: 70% auto;
	column-gap: 2em;
	padding: 0em 0.5em;
}